
<div class="container">
    <h3>Employee Form :  </h3>

    <div id="employeeForm">

    </div>

    <h3>Employee List:  </h3>
    <div id="grid">

    </div>
</div>



<script src="~/Scripts/Employee.jsx"></script>